<!-- Widget: Instagram -->
<div class="widget widget--sidebar widget-instagram">
	<header class="widget__header">
		<h3 class="widget__title">Photo Shots</h3>
	</header>
	<div class="widget__content">
		<ul id="instagram-feed" class="widget-instagram__list">
			<li class="widget-instagram__item">
				<a href="#" class="widget-instagram__link-wrapper" target="_blank">
					<span class="widget-instagram__plus-sign">
						<img src="{{../root}}assets/img/samples/insta-shot-1-sm.jpg" alt="" class="widget-instagram__img" />
					</span>
				</a>
			</li>
			<li class="widget-instagram__item">
				<a href="#" class="widget-instagram__link-wrapper" target="_blank">
					<span class="widget-instagram__plus-sign">
						<img src="{{../root}}assets/img/samples/insta-shot-2-sm.jpg" alt="" class="widget-instagram__img" />
					</span>
				</a>
			</li>
			<li class="widget-instagram__item">
				<a href="#" class="widget-instagram__link-wrapper" target="_blank">
					<span class="widget-instagram__plus-sign">
						<img src="{{../root}}assets/img/samples/insta-shot-3-sm.jpg" alt="" class="widget-instagram__img" />
					</span>
				</a>
			</li>
			<li class="widget-instagram__item">
				<a href="#" class="widget-instagram__link-wrapper" target="_blank">
					<span class="widget-instagram__plus-sign">
						<img src="{{../root}}assets/img/samples/insta-shot-4-sm.jpg" alt="" class="widget-instagram__img" />
					</span>
				</a>
			</li>
			<li class="widget-instagram__item">
				<a href="#" class="widget-instagram__link-wrapper" target="_blank">
					<span class="widget-instagram__plus-sign">
						<img src="{{../root}}assets/img/samples/insta-shot-5-sm.jpg" alt="" class="widget-instagram__img" />
					</span>
				</a>
			</li>
			<li class="widget-instagram__item">
				<a href="#" class="widget-instagram__link-wrapper" target="_blank">
					<span class="widget-instagram__plus-sign">
						<img src="{{../root}}assets/img/samples/insta-shot-6-sm.jpg" alt="" class="widget-instagram__img" />
					</span>
				</a>
			</li>
		</ul>
	</div>
</div>
<!-- Widget: Instagram / End -->
