<!-- Section: Instagram -->
<div class="section-content">
	<div class="container">
		<div class="section-heading section-heading--divider-top">
			<h2 class="section-heading__title" data-aos="fade" data-aos-duration="600">Fotos de nuestros clientes</h2>
			<div class="section-heading__subtitle" data-aos="fade" data-aos-duration="600">
				<a href="#">#enigmatacr</a>
			</div>
		</div>

		<!-- Instagram Feed -->
		<ul id="instagram-feed-tagged" class="widget-instagram__list widget-instagram__list--gutter-xs widget-instagram__list--4cols">
			<li class="widget-instagram__item" data-aos="zoom-in" data-aos-duration="600">
				<a href="#" class="widget-instagram__link-wrapper" target="_blank">
					<span class="widget-instagram__plus-sign">
						<img src="{{../root}}assets/img/samples/insta-shot-1.jpg" alt="" class="widget-instagram__img" />
						<span class="widget-instagram__item-meta">
							<span class="widget-instagram__item-meta-likes"><i class="ion-heart"></i> 246</span>
							<span class="widget-instagram__item-meta-comments"><i class="ion-chatbubble"></i> 22</span>
						</span>
					</span>
				</a>
			</li>
			<li class="widget-instagram__item" data-aos="zoom-in" data-aos-duration="600">
				<a href="#" class="widget-instagram__link-wrapper" target="_blank">
					<span class="widget-instagram__plus-sign">
						<img src="{{../root}}assets/img/samples/insta-shot-2.jpg" alt="" class="widget-instagram__img" />
						<span class="widget-instagram__item-meta">
							<span class="widget-instagram__item-meta-likes"><i class="ion-heart"></i> 246</span>
							<span class="widget-instagram__item-meta-comments"><i class="ion-chatbubble"></i> 22</span>
						</span>
					</span>
				</a>
			</li>
			<li class="widget-instagram__item" data-aos="zoom-in" data-aos-duration="600">
				<a href="#" class="widget-instagram__link-wrapper" target="_blank">
					<span class="widget-instagram__plus-sign">
						<img src="{{../root}}assets/img/samples/insta-shot-3.jpg" alt="" class="widget-instagram__img" />
						<span class="widget-instagram__item-meta">
							<span class="widget-instagram__item-meta-likes"><i class="ion-heart"></i> 246</span>
							<span class="widget-instagram__item-meta-comments"><i class="ion-chatbubble"></i> 22</span>
						</span>
					</span>
				</a>
			</li>
			<li class="widget-instagram__item" data-aos="zoom-in" data-aos-duration="600">
				<a href="#" class="widget-instagram__link-wrapper" target="_blank">
					<span class="widget-instagram__plus-sign">
						<img src="{{../root}}assets/img/samples/insta-shot-4.jpg" alt="" class="widget-instagram__img" />
						<span class="widget-instagram__item-meta">
							<span class="widget-instagram__item-meta-likes"><i class="ion-heart"></i> 246</span>
							<span class="widget-instagram__item-meta-comments"><i class="ion-chatbubble"></i> 22</span>
						</span>
					</span>
				</a>
			</li>
			<li class="widget-instagram__item" data-aos="zoom-in" data-aos-duration="600">
				<a href="#" class="widget-instagram__link-wrapper" target="_blank">
					<span class="widget-instagram__plus-sign">
						<img src="{{../root}}assets/img/samples/insta-shot-5.jpg" alt="" class="widget-instagram__img" />
						<span class="widget-instagram__item-meta">
							<span class="widget-instagram__item-meta-likes"><i class="ion-heart"></i> 246</span>
							<span class="widget-instagram__item-meta-comments"><i class="ion-chatbubble"></i> 22</span>
						</span>
					</span>
				</a>
			</li>
			<li class="widget-instagram__item" data-aos="zoom-in" data-aos-duration="600">
				<a href="#" class="widget-instagram__link-wrapper" target="_blank">
					<span class="widget-instagram__plus-sign">
						<img src="{{../root}}assets/img/samples/insta-shot-6.jpg" alt="" class="widget-instagram__img" />
						<span class="widget-instagram__item-meta">
							<span class="widget-instagram__item-meta-likes"><i class="ion-heart"></i> 246</span>
							<span class="widget-instagram__item-meta-comments"><i class="ion-chatbubble"></i> 22</span>
						</span>
					</span>
				</a>
			</li>
			<li class="widget-instagram__item" data-aos="zoom-in" data-aos-duration="600">
				<a href="#" class="widget-instagram__link-wrapper" target="_blank">
					<span class="widget-instagram__plus-sign">
						<img src="{{../root}}assets/img/samples/insta-shot-7.jpg" alt="" class="widget-instagram__img" />
						<span class="widget-instagram__item-meta">
							<span class="widget-instagram__item-meta-likes"><i class="ion-heart"></i> 246</span>
							<span class="widget-instagram__item-meta-comments"><i class="ion-chatbubble"></i> 22</span>
						</span>
					</span>
				</a>
			</li>
			<li class="widget-instagram__item" data-aos="zoom-in" data-aos-duration="600">
				<a href="#" class="widget-instagram__link-wrapper" target="_blank">
					<span class="widget-instagram__plus-sign">
						<img src="{{../root}}assets/img/samples/insta-shot-8.jpg" alt="" class="widget-instagram__img" />
						<span class="widget-instagram__item-meta">
							<span class="widget-instagram__item-meta-likes"><i class="ion-heart"></i> 246</span>
							<span class="widget-instagram__item-meta-comments"><i class="ion-chatbubble"></i> 22</span>
						</span>
					</span>
				</a>
			</li>
		</ul>
		<!-- Instagram Feed / End -->
		<div class="text-center widget-instagram__btn" data-aos="fade" data-aos-duration="600">
			<a href="#" class="btn btn-outline-secondary btn-lg">Follow Our Feed</a>
		</div>
	</div>
</div>
<!-- Section: Instagram / End -->
